# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo

# IDE / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db

# test coverage
/coverage

# vercel
.vercel

# package manager locks (keep only one)
yarn.lock
pnpm-lock.yaml

#agent
.opencode
